.urbndex {
    .urbndex-topbar {
        display: block;
        width: 100%;
        height: 50px;
        padding: 0 0 20px;
    }

    .urbndex-search {
        float: left;
        display: inline-block;
        height: 50px;

        label {
            display: block;
            float: left;
            width: 50px;
            height: 50px;
            background: url(/assets/images/search-icon.png) 0 0 no-repeat;
        }

        .input-wrapper {
            display: block;
            float: left;
            width: 200px;
            height: 50px;
        }

        input {
            width: 180px;
            margin: 5px 0;
            height: 30px;
        }
    }

    .urbndex-filters {
        float: left;
        display: inline-block;
        height: 50px;
        padding: 5px 0 0 20px;
        text-align: right;

        @media (max-width: 800px) {
            height: 120px;

            button {
                margin: 5px;
                float: left;
            }
        }


    }

    .urbndex-cards {
        clear: both;
        padding: 0 15px;
    }
    
    .urbndex-card {
        display: inline-block;
        position: relative;
        width: 164px;
        min-height: 180px;

        div {
            display: block;
            position: absolute;
            top: -10px;
            left: -10px;
            width:144px;
            height:144px;
            -webkit-border-radius: 
            20px;-moz-border-radius: 
            20px;border-radius: 20px;
            border:10px solid $white;
            background-color: transparent;
        }

        p {
            text-align: center;
        }
    } 
}
