
<div class="correct-answer quiz-content-block">Correct answer: {{ model.question.answer.name }}</div>

<div class="job-title quiz-content-block">Title: {{ model.question.answer.title }}</div>

<div class="department quiz-content-block">Department: {{ model.question.answer.dept }}</div>

<div ng-switch="model.tracker.length >= model.totalCount">
    <a ng-switch-when="true" class="next-quiz default-button" href="/#/quizEnd">Next Question</a>
    <button ng-switch-default class="next-quiz" ng-click="action.resetQuiz()">Next Question</button>
</div>
