.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $light-grey;

    .hamburger-icon {
        width: 70%;
        cursor: pointer;
        padding-left: 30px;
        padding-top: 30px;
    }

    .hamburger-menu {
        position: absolute;
        display: none;
        width: 30%;
        list-style-type: none;
    }

    a {
        width: 30%;
        list-style-type: none;
        font: 14px/18px Arial, Helvetica, sans-serif;
        color: $white;
        text-decoration: none;
    }

    a:hover {
        width: 30%;
        list-style-type: none;
        font: 14px/18px Arial, Helvetica, sans-serif;
        color: $dex-green;
        text-decoration: none;
    }

    .profile-wrapper {
        float: right;
        margin: 0 auto;
        width: 100%;
    }
}

.logo {
    background-color: $dark-grey;
}

.navbar-profile {
    position: relative;
    float: right;
    width: 35%;
    margin-top: -35px;
    margin-bottom: 20px;
    padding-right: 50px;

    .profile-image {
        width: 20%;
        float: left;
        position: relative;
        clear: both;
    }

    .profile-details {
        width: 80%;
        float: right;
        position: relative;
        font: 14px/18px Arial, Helvetica, sans-serif;
        color: $white;
    }

    li {
        float: right;
        width: 100%;
        list-style-type: none;
        background-color: $light-grey;
        font: 14px/18px Arial, Helvetica, sans-serif;
        color: $white;
        text-decoration: none;
        list-style-position: inside;
    }
}




