.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $light-grey;

    .hamburger-icon {
        cursor: pointer;
    }

    .hamburger-menu {
        display: none;
        width: 80%;
        background-color: $green;
    }

    .profile-details {
        float: right;
        font: 16px/21px Arial, Helvetica, sans-serif;
        color: #ffffff;
        padding-right: 30px;

    }

    profile-image {

    }
}

.logo {
    background-color: $grey;
}



