

.quiz-end {
    
}

.quiz-outro {
    max-width: 400px;
    margin: 30px auto;
    background: $blue;
    padding: 20px;
}

.next-countdown {
    color: #fff;
    background: $blue;
    width: 400px;
    font: bold 90px/1.4 arial;
    margin: 0 auto;
    margin: 30px auto;
    text-align: center;
    padding: 10px;
}

.quiz-end-actions {
    text-align: center;
}



