
.quiz-start {

}


.quiz-intro {
    max-width: 400px;
    margin: 30px auto;
    background: $blue;
    padding: 20px;
}

.start-quiz-wrap {
    text-align: center;
}

.start-quiz {
    display: inline-block;
}
