<div class="container profile">
    <h1>
        Profile
    </h1>

    <div class="profile-body-wrapper">
        <div class="profile-body-image">
            <img ng-src="/assets/users/{{ model.photoSrc }}" />
        </div>

        <div class="profile-body-details">
            {{ model.name }} <br />
            {{ model.title }} <br />
            {{ model.dept }} <br />
        </div>

        <div class="stats-level">
            Level: {{ model.level }}
        </div>
        <div class="cheevos-level">
            Cheevos: {{ model.cheevo_count }}
        </div>
    </div>

    <div class="bio-wrapper-profile">
        <h2>Additional Information</h2>
        <div class="bio-details" ng-repeat="question in model.bio.question">
            {{ question.quest }} <br />
            <span class="answer-font">{{ question.ans }}</span> <br />
            <br />
        </div>
    </div>

    <div class="related-users">
        <h2>Related Users</h2>
        <div class="related-user" ng-repeat="user in model.related">
            <img ng-src="/assets/users/{{ user.user.photoSrc }}" />
        </div>
    </div>
</div>
